<p>
  I've wide range of Developing skill. Such as Front-End, Back-End, DB and
  DevOps skills. Another strongest soft skill about "Analysis Skill and
  Communication Skill". I can gathering requirement thoroughly from users and
  analyze/break down to developing tasks like BA/SA. And also can communicate
  with user in order to demonstration each sprints, getting feedback and support
  applications's issues with sitting between users and developer. I can
  understand point of view both of them.
</p>
