<div class="container">
  <div class="nav">
    <ul>
      <li>
        <a [routerLink]="['/Home']" (click)="clickMenu('Home')">Home</a>
      </li>
      <li>
        <a [routerLink]="['/About']">About Me</a>
      </li>
      <li>
        <a [routerLink]="['/Skill']">Skills</a>
      </li>
      <li>
        <a [routerLink]="['/Contact']">Contact Me</a>
      </li>
      <li>
        <a [routerLink]="['/Portfolio']">Portfolio</a>
      </li>
    </ul>
  </div>
  <app-content-panel [title]="contentTitle">
    <router-outlet></router-outlet>
  </app-content-panel>
</div>
